services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: flex_living
    ports:
      - "5434:5432"
    networks:
      - flex-network
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
    driver: local

networks:
  flex-network:
    driver: bridge
